<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/nikpo/IdeaProjects/GoRest_CRUD_FrameworK"><classes><class name="gorest.co.in.IntegratioN.Gorest"><methods><include name="createuser"/><include name="getuser"/><include name="updateuser"/><include name="deleteuser"/><include name="deleteuserConfirmation"/></methods></class></classes></test></suite>